<h1><%= @game.name %></h1>
<p><%= @game.summary %></p>

<ul>
  <li>Rating: <%= @game.rating %></li>
  <li>Release Date: <%= @game.release_date %></li>
  <li>Platform(s): <%= @game.platforms.map {|p| p.name} %></li>
  <li>Genre(s): <%= @game.genres.map {|p| p.name} %></li>
</ul>
